header{
    margin-bottom: -32px;
}
body{
    background: url(../img/bg-contentwrap03.jpg);
    font-family: sans-serif;
}
/*Menu de Navegacion*/
.logoSP{
    margin-top: 15px;  
}
.nave{
    margin-left: 25px;
    color: #d7d6d8;
    font-weight: bold;  
}
ul .nave a:hover{
   color: #eb1111;
   font-size: 20px;
}
/*******Contenedor************/
h2{
    margin-top: 40px;
    color: #173b88;
    font-weight: bold;
}

.bloque{
    border-right: 1px solid #c7c2c2;
    
}
.efecto{
    width: 50%;
    margin-left: 60px;
}
.efecto:hover{
    width: 60%;
    opacity: 50%;
}
.descripcion {
    font-weight: bold;
    margin-left: 10%;
}
/*botonnes*/
.botones{
    margin-left: 20%;
}
.bloque .botones button a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
 
}
.botones button a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
}
.btn-primary{
    background:  #173b88;
    border:#173b88 ;
}
.btn-primary:hover{
    opacity: 100%;  
}


/********FOOTER**************/
.fondof{
    background: #232324;
    color: #d7d6d8;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
