
header{
    margin-bottom: -32px;
}
body{
    background: url(../img/bg-news.png);
}
/*Menu de Navegacion*/
.logoSP{
    margin-top: 15px;  
}
div ul li{
    margin-left: 25px;
    color: #d7d6d8;
    font-weight: bold;  
}
div ul li:hover{
   color: #ffffff;
   font-size: 20px;
}

/**********CONTENIDO************/
.bloque{
    margin-top: 20px;
    background: #d7d6d8;
    border-radius: 5px;
}
.titulo{
    margin-top: 20px;
    color: #173b88;
    font-weight: bold;
    padding:0px 20px;
}
h3{
color:#173b88;
margin-left: 20px;
}

.bloque2{
    background: #d7d6d8 ;
    margin-top: 40px;
    border-radius: 100%;
    
}
.parrafo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 20px;
    background:#e6e2e2;
    border-radius: 5px;
}
/*****Aside**/
.bloqueR{
    margin-top: 20px;
}

.tituloR{
    font-size: 30px;
}
iframe{
    margin-left: 7%;
}
/***********FOOTER*********/
.fondof{
    background: #232324;
    color: #d7d6d8;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

